<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
	<h1>{{ restaurant.name }}'s Menu</h1>
	<a href="{% url 'restaurants:newmenuitem' restaurant.id %}">Create a New Menu Item</a>
	{% for item in items %}
		<h2>{{ item.name }}</h2>
		<p>{{ item.course }}</p>
		<p>{{ item.price }}</p>
		<p>{{ item.description }}</p>
		<a href = "{% url 'restaurants:editmenuitem' restaurant.id item.id %}">Edit Menu Item</a>
		<a href = "{% url 'restaurants:deletemenuitem' restaurant.id item.id %}">Delete Menu Item</a>
	{% endfor %}
</body>
</html>
