<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8">
	<title>Restaurants</title>
</head>
<body>
	<h1>RESTAURANTS</h1>
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	{% endif %}
	</ul>
		<a href="{% url 'restaurants:newrestaurant' %}">Create a New Restaurant</a>
	{% for rest in restaurants %}
		<h2>{{ rest.name }}</h2>
		<a href="{% url 'restaurants:showmenu' rest.id %}">Menu</a>
		<a href = "{% url 'restaurants:editrestaurant' rest.id %}">Edit Restaurant</a>
		<a href = "{% url 'restaurants:deleterestaurant' rest.id %}">Delete Restaurant</a>
	{% endfor %}
</body>
</html>
